<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <header th:insert="fragments/navbar.html :: nav"></header>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 th:if="${articles != null}" class="my-4">
            <span th:text="${articles[0].category.name}"></span> : Articles
          </h1>
          <h1 th:if="${articles == null}" class="my-4">
            Pas encore d'article sur cette category
          </h1>
          <div class="row">
            <div
              class="posts-container col-6 pb-4"
              th:if="${articles != null}"
              th:each="article: ${articles}"
            >
              <div class="card h-100">
                <a th:href="'/article/' + ${article.id}"
                  ><img
                    class="card-img-top"
                    src="http://placehold.it/700x400"
                    alt=""
                /></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a th:href="'/article/' + ${article.id}">Article N°<span th:text="${article.id}"></span></a>
                  </h4>
                  <p class="card-text">
                    Voici la description de notre article.
                  </p>
                </div>
                <div class="card-footer">
                  Posté par
                  <span th:text="${article.user.username}"></span> le
                  <span th:text="${article.date}"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card my-4">
            <h5 class="card-header">Catégories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <ul
                    class="list-unstyled mb-0"
                    th:each="category: ${categories}"
                  >
                    <li>
                      <a
                        th:href="'/category/'+${category.id}+'/articles'"
                        th:text="${category.name}"
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  ></script>
</html>
