<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <title>Home</title>
  </head>
  <body>
    <header th:insert="fragments/navbar.html :: nav"></header>

    <section class="wavy">
      <div class="wave">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="wave-content">
        <h2>Blog Java</h2>
        <h3>Architecture Micro-Services</h3>
      </div>
    </section>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  ></script>
</html>
