<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Connexion</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>

  <body>
    <header th:insert="fragments/navbar.html :: nav"></header>
    <div class="login-wrapper">
      <div class="login-title">
        <h2>Connexion</h2>
      </div>

      <span th:if="${error != null}">
        <span th:text="${error}"></span>
      </span>

      <div class="form-container">
        <form method="post" th:action="@{/login}" th:object="${user}">
          <div class="form__group field">
            <input
              type="email"
              name="mail"
              class="form__field"
              placeholder="Adresse mail"
              th:field="*{mail}"
              required
            />
            <label for="mail" class="form__label">Adresse mail</label>
          </div>

          <div class="form__group field">
            <input
              type="password"
              name="password"
              class="form__field"
              placeholder="Mot de passe"
              th:field="*{password}"
              required
            />
            <label for="password" class="form__label">Mot de passe</label>
          </div>
          <div class="submit-btn-container">
            <button type="submit" class="submit-btn">Connexion</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  ></script>
</html>
