<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Modification de l'article</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>

  <body>
    <header th:insert="fragments/navbar.html :: nav"></header>
    <div class="card my-4" th:if="${isConnected}">
      <h5 class="card-header">Modification de l'article :</h5>
      <div class="card-body">
        <form
          method="post"
          th:action="'/save/article?idArticle=' + ${article.id}"
          th:object="${article}"
        >
          <input type="hidden" th:field="*{id}" />

          <label class="form-label">Modifier le contenu</label>
          <div class="form-group">
            <textarea
              th:field="*{content}"
              class="form-control"
              rows="3"
              required
            ></textarea>
          </div>

          <label class="form-label">Modifier la catégorie</label>
          <div class="form-group">
            <select th:field="*{idCategory}">
              <option
                th:if="${cat.id == idCategory}"
                th:value="${cat.id}"
                th:each="cat: ${categories}"
              >
                <span th:text="${cat.name}"></span>
              </option>
              <option
                th:if="${cat.id != idCategory}"
                th:value="${cat.id}"
                th:each="cat: ${categories}"
              >
                <span th:text="${cat.name}"></span>
              </option>
            </select>
          </div>

          <!-- <label>content</label>
          <input type="text" th:field="*{content}" required /> -->

          <!-- <label>date</label>
        <input type="date" th:field="*{date}" required/> -->

          <!-- <select th:field="*{idCategory}">
            <option
              th:if="${cat.id == idCategory}"
              th:value="${cat.id}"
              th:each="cat: ${categories}"
            >
              <span th:text="${cat.name}"></span>
            </option>
            <option
              th:if="${cat.id != idCategory}"
              th:value="${cat.id}"
              th:each="cat: ${categories}"
            >
              <span th:text="${cat.name}"></span>
            </option>
          </select> -->

          <input type="submit" value="Valider" />
        </form>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>
