<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/save/article}" th:object="${article}">

		 <input type="hidden" th:field="*{id}" />
		
        <label>content</label>
        <input type="text" th:field="*{content}" required />
        
        <!-- <label>date</label>
        <input type="date" th:field="*{date}" required/> -->
    
        <select th:field="*{idCategory}">
            <option th:if="${cat.id == idCategory}" th:value="${cat.id}" th:each="cat: ${categories}"><span th:text="${cat.name}"></span></option>
            <option th:if="${cat.id != idCategory}" th:value="${cat.id}" th:each="cat: ${categories}"><span th:text="${cat.name}"></span></option>
        </select>
        
        <input type="submit" value="Valider"/>
     </form>
</body>
</html>